.footu{
    display: flex;
    width: 50%;
    flex-direction: column;
    float: left;
    position: relative;
    top: 20px;
    padding-left: 20px;
    
}
.footr{
    float: right;
    position: relative;
    padding-right: 150px;
    top: 20px;
}
.footr li{
    padding-top: 10px;
    list-style: none;
    text-align: left;
    position: relative;
    left: -30px;
}
.socials{
    position: relative;
    
    bottom: -10px;
}
.footr li:hover{
    color: skyblue;
    cursor: pointer;
}
.socials i{
    font-size: 25px;
    position: relative;
    margin-right: 10px;
    
}
.socials i:hover{
    color: skyblue;
    cursor: pointer;
}
.sub_box{
    border: solid 1px white;
    width: 50%;
    height: 7vh;
    margin-bottom: 10px;
}
.footu span{
    color: skyblue;
}
.sub h2{
    color: skyblue;
}
.sub_box input{
    
    background-color: rgb(0, 17, 24);
    border: solid 2px white;
    width: 50%;
    height: 7vh;
    color: white;
    padding-left: 20px;

}
#sub_button:hover{
    background-color: skyblue;
    border: none;
}

#sub_button{
    width: 50%;
    height: 7vh;
    text-align: center;
    color: rgb(0, 17, 24);
    cursor: pointer;

}
::value{
    font-weight: 400px;
}
@media (max-width: 858px){
    .foot{
        height: 120vh;
        width: 100%;
    }
}
@media (max-width: 952px){
    .foot{
        height: 120%;
        width: 100%;
    }
}
